/*Schrijf hier jouw CSS*/

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  flex-basis: 20vh;
  flex-grow: 0; /* This is already the default */
  flex-shrink: 0;
}

main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 0;
}

article {
  flex-basis: 60vw;
  flex-grow: 1;
  flex-shrink: 1;
  order: 1;

}

aside {
  order: 2;
}

nav {
  order: 3;
}

nav, aside {
  flex-basis: 20vw;
  flex-grow: 1;
  flex-shrink: 0;
}


footer {
  flex-basis: 10vh;
  flex-grow: 0; /* This is already the default */
  flex-shrink: 0;
}

