*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

main {
  display: flex;
  fle-direction: column;
}

.col-1 {
  flex-basis: ;
}