@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f2f3d9;
  --secondary-color: #030027;
  --article-background: #C16E70;
  --dark-text-color: #000;
  --bright-text-color: #fff;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--primary-color);
  font-family: "Montserrat", Arial, sans-serif;
}

.outer-row {
  flex-basis: calc(1240rem / 16);
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  align-items: center;
  text-align: center;

  & h1 {
    padding: 3rem 0 .5rem 0;
  }

  & .inner-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 0 0 auto;
    column-gap: 2rem;
    padding-top: 4rem;

    & .article-content {
      flex: 0 1 auto;
      max-width: calc(280rem / 16);
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      min-height: calc(350rem / 16);
      overflow: hidden;
      background-color: var(--article-background);
      border-radius: .5rem;
      padding: 6rem 1.5rem 1rem 1.5rem;
    }
  }

}

